# Imports

In [21]:
import os
import zipfile
import shutil
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# CSV Extraction

In [20]:
dir_name = 'Raw Zip'
extension = ".zip"

# Unzip
for item in os.listdir(dir_name): # loop through items in dir
    if item.endswith(extension): # check for ".zip" extension
        file_name = os.path.join(dir_name, item)
        zip_ref = zipfile.ZipFile(file_name) # create zipfile object
        zip_ref.extractall(dir_name) # extract file to dir
        zip_ref.close() # close file

#Move to other folder
source_folder = "Raw Zip"
dest_folder = "Raw CSV Files"
for item in os.listdir(source_folder): 
    if(item.startswith("API") and item.endswith("csv")): 
        file_name = os.path.join(source_folder, item)
        shutil.move(file_name, os.path.join(dest_folder, item))
        
# Cleaning csv from zip folder
for item in os.listdir(dir_name):
    if item.endswith("csv"):
        file_name = os.path.join(dir_name, item)
        os.remove(file_name)

# Merge CSVs

In [90]:
csv_dir = "Raw CSV Files"
csv_list = []  
feature_list_of_lists = []
country_name_list_of_lists = []
for item in os.listdir(csv_dir):
    file_name = os.path.join(csv_dir, item)
    temp_df = pd.read_csv(file_name, skiprows = 4)
    country_name_list_of_lists.append(temp_df['Country Name'])
    feature_list_of_lists.append(temp_df.columns)
    csv_list.append(temp_df)

# Getting common features and countries to combine
common_countries = set.intersection(*[set(l) for l in country_name_list_of_lists])
common_features = set.intersection(*[set(l) for l in feature_list_of_lists])

all_df = pd.DataFrame([])
for i, individual_df in zip(range(len(csv_list)), csv_list):
    csv_list[i] = individual_df[sorted(common_features)]
    all_df = pd.concat([all_df, csv_list[i]])
all_df.reset_index(inplace = True, drop = True)
all_df.drop(columns = ['Indicator Code', 'Country Code'], inplace  = True)

In [91]:
all_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,Country Name,Indicator Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,Aruba,Access to electricity (% of population)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,Africa Eastern and Southern,Access to electricity (% of population)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.982941,89.500000,71.500000,97.700000,97.700000,98.715622,97.700000,NaN,Afghanistan,Access to electricity (% of population)
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.018163,47.745499,46.752279,50.948939,48.848205,51.253253,51.341421,NaN,Africa Western and Central,Access to electricity (% of population)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.248993,32.000000,42.000000,41.797379,43.001610,45.290000,45.670315,NaN,Angola,Access to electricity (% of population)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.943902,71.243902,71.495122,71.743902,71.995122,72.243902,72.495122,NaN,Kosovo,"Life expectancy at birth, total (years)"
5582,29.919,30.163,30.500,30.943,31.501,32.175,32.960,33.836,34.780,35.780,...,66.016000,66.066000,66.085000,66.087000,66.086000,66.096000,66.125000,66.181,"Yemen, Rep.","Life expectancy at birth, total (years)"
5583,48.406,48.777,49.142,49.509,49.888,50.284,50.705,51.148,51.615,52.106,...,61.099000,61.968000,62.649000,63.153000,63.538000,63.857000,64.131000,64.379,South Africa,"Life expectancy at birth, total (years)"
5584,46.687,47.084,47.446,47.772,48.068,48.351,48.643,48.960,49.313,49.700,...,59.746000,60.831000,61.737000,62.464000,63.043000,63.510000,63.886000,64.194,Zambia,"Life expectancy at birth, total (years)"
5585,53.019,53.483,53.946,54.403,54.849,55.274,55.671,56.034,56.362,56.656,...,56.897000,58.410000,59.534000,60.294000,60.812000,61.195000,61.490000,61.738,Zimbabwe,"Life expectancy at birth, total (years)"

# EDA