In [21]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

plt.style.use('default')
%matplotlib inline

1. Data Gathering
2. Data Cleaning
3. Data Preprocessing 
4. Feature Engineering
5.

In [22]:
raw_csv_folder = 'Raw CSV Files'
final_df = pd.DataFrame()
for file in os.listdir(raw_csv_folder):
    inter_df = pd.read_csv(raw_csv_folder+'/'+file,skiprows=4)
    final_df = pd.concat([inter_df,final_df])
final_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65,2021,Unnamed: 66
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.780000,88.661227,93.542454,97.170000,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.052010,15.990277,17.165587,20.332119,23.657366,26.448284,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,8.260000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.470625,19.421850,21.369414,24.676247,29.741679,32.418191,NaN,NaN,NaN,NaN
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400000,29.000000,29.000000,32.000000,35.000000,36.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.200000,16.900000,16.600000,16.200000,15.900000,15.600000,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,53.504,53.786,54.089,54.413,54.750,55.089,...,32.735000,32.197000,31.627000,31.040000,30.453000,29.873000,29.304,NaN,NaN,NaN
263,South Africa,ZAF,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,41.075,40.882,40.663,40.419,40.152,39.871,...,22.113000,21.719000,21.314000,20.908000,20.510000,20.129000,19.773,NaN,NaN,NaN
264,Zambia,ZMB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,49.672,49.806,49.872,49.865,49.793,49.680,...,38.645000,37.950000,37.292000,36.699000,36.192000,35.776000,35.443,NaN,NaN,NaN
265,Zimbabwe,ZWE,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,47.996,47.988,47.950,47.876,47.770,47.643,...,34.978000,33.981000,32.864000,31.732000,30.676000,29.747000,28.977,NaN,NaN,NaN

In [23]:
final_df['Unnamed: 65']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,69.100000,68.982941,89.500000,71.500000,97.700000,97.700000,98.715622,97.700000,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.130354,47.018163,47.745499,46.752279,50.948939,48.848205,51.253253,51.341421,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.101025,38.248993,32.000000,42.000000,41.797379,43.001610,45.290000,45.670315,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.750000,99.750000,99.680000,99.860000,99.800000,99.800000,100.000000,100.000000,NaN,NaN
262,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,52.410000,75.600000,66.100000,67.396667,68.918709,79.200000,62.000000,72.751701,NaN,NaN
263,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.300000,85.200000,86.000000,85.300000,84.200000,84.400000,84.700000,85.000000,NaN,NaN
264,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,27.340553,28.087427,27.900000,31.100000,35.173164,40.300000,39.822304,43.000000,NaN,NaN
265,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.000000,38.336353,32.300000,33.700000,39.676228,40.144283,40.616360,41.089108,NaN,NaN